body {
  background-color: bisque;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-top: 5vh;
}

h1 {
  color: #19456b;
  font-family: "Fredoka One", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}

.main-container {
  background-color: #7e7e7e;
  border: 0.16rem outset #bfbfbf;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.75rem;
}

.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7e7e7e;
  padding: 5px;
}

.display {
  background-color: #0d0d0d;
  border: 3px inset #bfbfbf;
  height: 3rem;
  width: 5rem;
}

.new-game-button {
  background-color: #7e7e7e;
  border: 0.16rem outset #bfbfbf;
  cursor: pointer;
  display: block;
  height: 3rem;
  width: 3rem;
}

.new-game-button:active {
  border-style: inset;
}

.tile-container {
  background-color: #7e7e7e;
  border: 0.16rem outset #bfbfbf;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 60vw;
}

.tile-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tile-unclicked {
  background-color: #7e7e7e;
  border: 0.16rem outset #bfbfbf;
  font-family: "Press Start 2P", arial;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  width: 1.25rem;
}

.tile-unclicked span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.tile-clicked {
  border-style: inset;
}

.tile-clicked-mime {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% 80%;
  background-image: url("../img/mime_face.png");
  background-color: #b30000;
}

.tile-flagged {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% 80%;
  background-image: url("../img/red_flag.png");
}

.one {
  color: #3399ff;
}

.two {
  color: #006600;
}

.three {
  color: #ff0000;
}

.four {
  color: #660033;
}

.five-plus {
  color: #4d004d;
}
/*# sourceMappingURL=styles.css.map */