// General variables:
$backgroundColor: bisque;
$mainFont: 'Fredoka One', cursive;
$mainFontColor: #19456b;

// Tile and container variables:
$tileColor: #7e7e7e;
$tileBorderColor: #bfbfbf;
$tileFont: 'Press Start 2P', arial;
$fontColorOne: #3399ff;
$fontColorTwo: #006600;
$fontColorThree: #ff0000;
$fontColorFour: #660033;
$fontColorFivePlus: #4d004d;
$mimeBackgroundColor: #b30000;
$mimeImage: "../img/mime_face.png";
$flagImage: "../img/red_flag.png";

// Flag/Time display variables:
$appBlack: #0d0d0d;

//Mixin for main game container elements:
@mixin main-theme {
    background-color: $tileColor;
    border: 0.16rem outset $tileBorderColor;
}

// Mixin for common display characteristics:
@mixin inline-flex-column {
    display: inline-flex;
    flex-direction: column;
}

// Mixin for common centering of mime/flag images:
@mixin image-center {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 80%;
}

body {
    background-color: $backgroundColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 5vh;
}

h1 {
    color: $mainFontColor;
    font-family: $mainFont;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
}

.main-container {
    @include main-theme;
    @include inline-flex-column;
    margin-top: 1.75rem;
}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $tileColor;
    padding: 5px
}

.display {
    background-color: $appBlack;
    border: 3px inset $tileBorderColor;
    height: 3rem;
    width: 5rem;
}

.new-game-button {
    @include main-theme;
    cursor: pointer;
    display: block;
    height: 3rem;
    width: 3rem;
}

.new-game-button:active {
    border-style: inset;
}

.tile-container {
    @include main-theme;
    @include inline-flex-column;
    max-width: 60vw;
}

.tile-row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.tile-unclicked {
    @include main-theme;
    font-family: $tileFont;
    height: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
    width: 1.25rem; 
    span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }
}

.tile-clicked {
    border-style: inset;
}

.tile-clicked-mime {
    @include image-center;
    background-image: url($mimeImage);
    background-color: $mimeBackgroundColor;
}

.tile-flagged {
    @include image-center;
    background-image: url($flagImage);    
}

.one {
    color: $fontColorOne;
}

.two {
    color: $fontColorTwo;
}

.three {
    color: $fontColorThree;
}

.four {
    color: $fontColorFour;
}

.five-plus {
    color: $fontColorFivePlus
}
