// General variables:
$backgroundColor: bisque;
$mainFont: 'Fredoka One', cursive;
$mainFontColor: #0c2c47;

// Tile and container variables:
$tileColor: #6d6d6d;
$tileClickedColor:  #b9b9b9;
$tileBorderColor: #9b9b9b;
$tileFont: 'Press Start 2P', arial;
$fontColorOne: #3399ff;
$fontColorTwo: #006600;
$fontColorThree: #ff0000;
$fontColorFour: #660033;
$fontColorFivePlus: #4d004d;
$mimeBackgroundColor: #b30000;
$mimeImage: "../img/mime_face.png";
$flagImage: "../img/red_flag.png";

// Button variables:
$buttonFont: 'Press Start 2P', arial;
$buttonFontHighlightColor: #bbbfca;
$difficultyButtonHeight: 3rem;
$difficultyButtonWidth: 5rem;
$newGameButtonHeight: 3rem;
$newGameButtonWidth: 3rem;

// Flag/Time display variables:
$appBlack: #0d0d0d;
$displayFont: 'Major Mono Display', monospace;

//Mixin for main game container elements:
@mixin main-theme {
    background-color: $tileColor;
    border: 0.16rem outset $tileBorderColor;
}

// Mixin for common display characteristics:
@mixin inline-flex-column {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

// Mixin for common centering of mime/flag images:
@mixin image-center {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 80%;
}

body {
    //background-color: $backgroundColor;
    background-image: url(../img/backgr.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 5vh;
}

h1 {
    color: $mainFontColor;
    font-family: $mainFont;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
}

.main-container {
    @include main-theme;
    @include inline-flex-column;
    box-shadow: 2px 2px 10px rgb(30, 43, 29);
    margin-top: 1.25rem;
}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $tileColor;
    padding: 5px;
    width: 95%;
}

.display {
    background-color: $appBlack;
    border: 3px inset $tileBorderColor;
    color: $mimeBackgroundColor;
    font-family: $displayFont;
    font-size: 2.25rem;
    height: 3rem;
    letter-spacing: -0.7rem;
    padding: 0.5rem;
    text-align: center;
    width: 5rem;
}

.new-game-button {
    @include main-theme;
    cursor: pointer;
    display: block;
    height: $newGameButtonHeight;
    width: $newGameButtonWidth
}

.new-game-button:active {
    border-style: inset;
}

.difficulty-button {
    @include main-theme;
    cursor: pointer;
    color: $mainFontColor;
    display: block;
    flex: auto;
    font-family: $buttonFont;
    font-size: 0.7rem;
    height: $difficultyButtonHeight;
    width: $difficultyButtonWidth;
    transition: color 0.5s ease-out;
}

.difficulty-button:active {
    border-style: inset;
}

.difficulty-button:hover {
    color: $buttonFontHighlightColor;
}

.tile-container {
    @include main-theme;
    @include inline-flex-column;
    max-width: 60vw;
}

.tile-row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.tile-unclicked {
    @include main-theme;
    font-family: $tileFont;
    height: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
    transition: background-color 0.25s ease-out;
    width: 1.25rem; 
    span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }
}

.tile-unclicked:hover {
    background-color: $tileBorderColor;
}

.tile-clicked {
    background-color: $tileClickedColor;
    border-style: inset;
}

.tile-clicked-mime {
    @include image-center;
    background-image: url($mimeImage);
    background-color: $mimeBackgroundColor;
}

.tile-flagged {
    @include image-center;
    background-image: url($flagImage);    
}

.one {
    color: $fontColorOne;
}

.two {
    color: $fontColorTwo;
}

.three {
    color: $fontColorThree;
}

.four {
    color: $fontColorFour;
}

.five-plus {
    color: $fontColorFivePlus
}
